{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Science Crypto</title>
    {% comment %} <link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura.css" type="text/css">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/sakura.css@1.0.0/css/sakura.css" type="text/css">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> 
    {% comment %} <link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />  {% endcomment %}
</head>
<body>

  {% comment %} <div class="wrapper">
    <a href="{% url 'data_crypto:list' %}"><img width='96' src="{% static 'data_scince fhoto.jpg' %}"></a>
  </div> {% endcomment %}
 
  <nav>
    <a href="{% url 'data_crypto:list' %}"><img width='57' src="{% static 'logomdc.png' %}"></a> |       |                  ____________DATA _ CRYPTO____________      |  |
    {% comment %} <img width='53' src='\media\logomdc.png' alt='comp_photo ' /> {% endcomment %}
    <a href="https://bit.ly/sendcryptofast">Home</a> |                     |
    <a href='https://bit.ly/DATACRYPTO'>About</a> | |
    <a href="https://bit.ly/devlopersmdc">Contact</a> |  |
</nav>

  <br>
{% comment %} <div>
  <h1>Data Analysis Crypto</h1>
  <p>
  <h3>this crypto </h3>
  <a href="https://bit.ly/cryptevolution""{% url 'data_crypto:list' %}"><img width='187' src="{% static '/A new and growing field that is gaining rapid momentum Those who have already entered this field wisely, earn big profits all the way כותרת (1).png' %}"></a>
  </p>
  <p>
  <h2>this crypto </h2>
  <a href="https://bit.ly/devlopersmdc""{% url 'data_crypto:list' %}"><img width='287' src="{% static '/btc.jpeg' %}"></a>
  </p>
  
  <a href="https://bit.ly/sendcryptofast""{% url 'data_crypto:list' %}"><img width='287' src="{% static 'eth.jpeg' %}"></a>
  
  <a href="https://bit.ly/DATACRYPTO""{% url 'data_crypto:list' %}"><img width='287' src="{% static 'cpins crypto.jpeg' %}"></a>
  
  <a href='https://bit.ly/getBit2c'"{% url 'data_crypto:list' %}"><img width='207' src="{% static 'logomdc.png' %}"></a>
  
  <a href="https://bit.ly/DataAnalysisCrypto""{% url 'data_crypto:list' %}"><img width='107' src="{% static 'IMG_1309.PNG' %}"></a>
  
</div><br> {% endcomment %}

<h1>Data Analysis Crypto</h1> 

<h4>Data preprocessing techniques.</h4>
    
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://bit.ly/sendcryptofast""{% url 'data_crypto:list' %}"><img width='287' src="{% static 'eth.jpeg' %}">
          {% comment %} <img src="/static/logomdc.png" alt="Logo_mdc" width="600" height="400"> {% endcomment %}
        </a>
        <div class="desc">Cryptocurrency and Blockchain Technology</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://bit.ly/devlopersmdc""{% url 'data_crypto:list' %}"><img width='287' src="{% static '/btc.jpeg' %}">
          
        </a>
        <div class="desc">Cryptocurrency Market Analysis</div>
      </div>
    </div>
    
    <div class="responsive">
      <div class="gallery">
        <a target="_blank" href="https://bit.ly/DATACRYPTO""{% url 'data_crypto:list' %}"><img width='257' src="{% static 'cpins crypto.jpeg' %}">
          {% comment %} <img src="/static/IMG_1309.PNG" alt="analysis" width="500" height="300"> {% endcomment %}
        </a>
        <div class="desc">Analysis of cryptocurrencies</div>
      </div>
    </div>
    

    <div class="clearfix"></div>
    
    <div style="padding:6px;">
      <h4>Machine learning for cryptocurrencies</h4>
      <p>Techniques for data analysis exploratory cryptocurrency data 
Visualization tools and techniques for cryptocurrency data 
Machine learning for cryptocurrencies:
An introduction to machine learning and its applications in cryptocurrencies
Classification algorithms for predicting price movements 
Regression algorithms for predicting price values.</p>
      <p>Natural language processing for crypto news and social media data
        Network analysis of cryptocurrency transactions and relationships
        Predictive modeling using deep learning techniques.</p>
    </div>

 
    {% comment %} <a href="{% url 'data_crypto:list' %}"><source src="{% static 'cryptodatasciencecou.mp4' %}"></a>  {% endcomment %}
    <h1>Data Science Crypto</h1>
    <video id="video1" width="520">
          <source src="\media\cryptodatasciencecou.mp4" type="video/mp4">
         {% comment %} <source src="mov_bbb.ogg" type="video/ogg">
          Your browser does not support HTML video.   {% endcomment %}
        </video>
        <br><br>
        <div style="text-align:center"> 
          <button onclick="playPause()">Play/Pause</button> 
          <button onclick="makeBig()">Big</button>
          <button onclick="makeSmall()">Small</button>
          <button onclick="makeNormal()">Normal</button>
      </div> 
      
      <script> 
      var myVideo = document.getElementById("video1"); 
      
      function playPause() { 
        if (myVideo.paused) 
          myVideo.play(); 
        else 
          myVideo.pause(); 
      } 
      
      function makeBig() { 
          myVideo.width = 560; 
      } 
      
      function makeSmall() { 
          myVideo.width = 320; 
      } 
      
      function makeNormal() { 
          myVideo.width = 420; 
      } 
      </script>  
      <br>
  
      <p>Video courtesy of <a href="https://bit.ly/cryptevolution" target="_blank">MDC</a>.</p> 
      {% comment %} <a href="{% url 'data_crypto:list' %}"><img src="{% static 'logomdc.png' %}"></a>
      <a href="{% url 'data_crypto:list' %}"><img src="{% static 'data_scince fhoto.jpg' %}"></a><br> {% endcomment %}
      {% comment %} <img width='168' src="{% stsic 'data/media/data_scince fhoto.jpg'  alt='data_science ' %}" /> {% endcomment %}
      <div class="wrapper">
        <a href="{% url 'data_crypto:list' %}"><img width='96' src="{% static 'data_scince fhoto.jpg' %}"></a>
      </div>
      <h2>Applica</h2>
  
<!-- <img width='168' src='\media\data_scince fhoto.jpg' alt='data_science ' /> -->
{% comment %} <a href="{% url 'data_crypto:list' %}"><img width='153' src="{% static 'IMG_1309.PNG' %}"></a>   {% endcomment %}
    {% comment %} {% block content %}
    {% endblock %} {% endcomment %}
  </div>
  {% comment %} <video
  id="my-video"
  class="video-js"
  controls
  preload="auto"
  width="420"
  height="264"
  poster="http://127.0.0.1:8000/static/img/tour-spyder-logo.png"
  data-setup="{}"
>
  <source src="https://youtu.be/1lFHFgV_aWs" type="video/mp4" />

</video> {% endcomment %}

{% comment %} 
<div class="gallery">
  <a target="_blank" href="img_5terre.jpg">
    <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="img_forest.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_lights.jpg">
    <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div>

<div class="gallery">
  <a target="_blank" href="img_mountains.jpg">
    <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
  </a>
  <div class="desc">Add a description of the image here</div>
</div> {% endcomment %}

{% comment %} <div class="responsive">
  <div class="gallery">
       <a target="_blank" href="https://bit.ly/cryptevolution""{% url 'data_crypto:list' %}"><img width='247' src="{% static '/A new and growing field that is gaining rapid momentum Those who have already entered this field wisely, earn big profits all the way כותרת (1).png' %}">
       </a>
    <div class="desc">Add a description of the image here</div>
  </div>
</div> {% endcomment %}

<br>
  {% comment %} <script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script> 
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> {% endcomment %}
  {% block content %}
  {% endblock %}
 
</body>
</html>